@layer base {
  @font-face {
    font-family: "LuckysTale-Bold-New";
    src: url("/fonts/LuckysTale-Bold-New.ttf") format("truetype"),
      url("/fonts/LuckysTale-Bold-New.woff") format("woff"),
      url("/fonts/LuckysTale-Bold-New.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
    font-style: bold;
  }

  @font-face {
    font-family: "LuckysTale-Body";
    src: url("/fonts/LuckysTale-Body.ttf") format("truetype"),
      url("/fonts/LuckysTale-Body.woff") format("woff"),
      url("/fonts/LuckysTale-Body.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}
